<section>
    <img src="assets/img/fundo.png" alt="" width="100%">
</section>

<section class="flex-center-content">
    <div class="area-category-search">
        <nav class="category-nav">
            <ul>
                
                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="car"></fa-icon>
                        <div class="name-category">Seminovos</div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="carSide"></fa-icon>
                        <div class="name-category">Usados</div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="motorCycle"></fa-icon>
                        <div class="name-category">Motos</div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="gear"></fa-icon>
                        <div class="name-category">Sinistrados</div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="tractor"></fa-icon>
                        <div class="name-category">Máquinas</div>
                    </a>
                </li>
                
                <li>
                    <a href="">
                        <fa-icon class="icon-category" [icon]="cartShopping"></fa-icon>
                        <div class="name-category">Diversos</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <fa-icon [icon]="building"></fa-icon>
                        <div class="name-category">Imóveis</div>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="search-area">
            <div class="input-area-search">
                <fa-icon [icon]="magnifyingGlass"></fa-icon>
                <input class="input-search" type="text" placeholder="O que você procura?">
            </div>
            <button class="btn btn-red btn-search">BUSCAR</button>
        </div>
    </div>
</section>


<h1 class="title-0">Confira nossos destaques</h1>

<section class="container allotment-group">
    <app-get-allotments></app-get-allotments>
</section>


