<div class="area-allotment">
    <img src="assets/img/carro1.jpg" alt="" width="100%">

    <div class="content-internal-allotment">
        <div class="area-brand-title">
            <div class="allotment-brand">{{allotment.brand.name}}</div>
            <div class="allotment-title">{{allotment.name}}</div>
        </div>

        <div class="area-view-bids">
            ABERTO PARA LANCES:  
            <strong><fa-icon [icon]="eye"></fa-icon> 123 </strong>
            <strong><fa-icon [icon]="gavel"></fa-icon> {{allotment.view}}</strong>
        </div>

        <div class="current-value">R$ {{allotment.totalValue}}</div>

        <div class="area-dates">
            <div class="date"><fa-icon [icon]="calendar"></fa-icon> 12/12/2021 <fa-icon class="clock-icon" [icon]="clock"></fa-icon> 19:00</div>
            <div class="date"><fa-icon [icon]="calendar"></fa-icon> 19/12/2021 <fa-icon class="clock-icon" [icon]="clock"></fa-icon> 19:00</div>
        </div>

        <div class="local">
            <fa-icon [icon]="locationDot"></fa-icon> {{allotment.location.cityName}} - {{allotment.location.uf.name}}
        </div>

    </div>
</div>

<br><br><br>