<div class="area-allotment">
    <img src="assets/img/carro1.jpg" alt="" width="100%">

    <div class="content-internal-allotment">
        <div class="area-brand-title">
            <div class="allotment-brand">Hyundai</div>
            <div class="allotment-title">IX35 GL 2018/2019</div>
        </div>

        <div class="area-view-bids">
            ABERTO PARA LANCES:  
            <strong><fa-icon [icon]="eye"></fa-icon> 123 </strong>
            <strong><fa-icon [icon]="gavel"></fa-icon> 2</strong>
        </div>

        <div class="current-value">R$ 28.900,00</div>

        <div class="area-dates">
            <div class="date"><fa-icon [icon]="calendar"></fa-icon> 12/12/2021 <fa-icon class="clock-icon" [icon]="clock"></fa-icon> 19:00</div>
            <div class="date"><fa-icon [icon]="calendar"></fa-icon> 19/12/2021 <fa-icon class="clock-icon" [icon]="clock"></fa-icon> 19:00</div>
        </div>

        <div class="local">
            <fa-icon [icon]="locationDot"></fa-icon> São Pedro da Aldeia - RJ
        </div>

    </div>
</div>

<br><br><br>