.area-allotment{
    width:240px;
    box-shadow: 1px 1px 6px 1px #a4b0be;
    border-radius: 3px;
    background-color:#fff;
}
.area-allotment img{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.content-internal-allotment{
    padding:10px 15px;
}
.area-brand-title{
    text-transform: uppercase;
    font-weight: bold;
}
.allotment-brand {
    font-size:11px;
    color:#747d8c;
    margin-bottom: 5px;
}
.allotment-title{
    font-size:16px;
}
.area-view-bids{
    padding-top:7px;
    padding-bottom:7px;
    margin-top:5px;
    border-top:1px solid #a4b0be;
    border-bottom:1px solid #a4b0be;
    font-size:12px;
    color:#747d8c;
    font-weight: bold;
}
.current-value{
    margin-top:10px;
    font-weight: bold;
    font-size:28px;
}

.area-dates{
    margin-top:12px;
}
.area-dates p{
    font-size:12px;
    color:#747d8c;
    margin-left:10px;
    margin-bottom: 5px;
}
.date{
    margin-bottom:10px;
    font-size:12px;
    color:#747d8c;
}
.clock-icon{
    margin-left:15px;
}
.local{
    margin-top:15px;
    padding-top:7px;
    font-size:13px;
    color:#747d8c;
    border-top:1px solid #a4b0be;
}