<header>
    <div class="right-container">
        <a href="" class="link-logo">Sua logo</a>
    </div>
    
    <nav class="menu">
        <ul class="menu-group d-flex">
            <a href=""><li>Quem Somos</li></a>
            <a href=""><li>Agenda</li></a>
            <a href=""><li>Como Comprar</li></a>
            <a href=""><li>Serviços</li></a>
            <a href=""><li>Quero Vender</li></a>
            <a href=""><li>Fale Conosco</li></a>
            <a href="" class="btn-login-menu"><li><fa-icon [icon]="faRightToBracket"></fa-icon> Entrar</li></a>
        </ul>
    </nav>
</header>
