*{
    margin: 0;
    padding: 0;
    font: Poppins,sans-serif;
    box-sizing: border-box;
}
ul{
    margin:0 !important;
}
body{
    background-color:#f1f2f6 !important;
    
}

.d-flex{
    display: flex;
}
a {
    text-decoration: none !important;
    color:#2f3542 !important;
}

.container {
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.title-0{
   text-align: center;
   font-size:30px;
}

.title-1{
    font-size:21px;
}


.flex-center-content{
    display: flex;
    justify-content: center;
}

.flex-center-items{
    display: flex;
    align-items: center;
}
.butn{
    font-size: 11px;
    font-weight: bold;
    color:#fff;
    padding:5px 10px;
    border:0;
    border-radius: 3px;   
}
.butn-red{
    background:#ff6348;
    box-shadow:0.01px 0.01px 5px 0.01px #ff6348;
}
.butn-red:hover{
    cursor: pointer;
    background:#ff2d11;
    box-shadow:0.01px 0.01px 5px 0.01px #ff2d11;
}
table, th, td {
    border: 1px solid;
}

th, td{
    padding:5px;
}

table {
    border-collapse: collapse;
}

.link{
    color:#70a1ff !important;
}

.link:hover{
    text-decoration: underline !important;
}